@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

* {
  font-family: 'Hind';
  color: #fff;
}

/* text truncate */
.clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* rank ribbon */
.ribbon-1 {
  width: 0;
  border-right: 1rem solid #ffc918;
  border-left: 1rem solid #ffc918;
  border-bottom: 10px solid transparent;
}

.ribbon-2 {
  width: 0;
  border-right: 1rem solid #00aeef;
  border-left: 1rem solid #00aeef;
  border-bottom: 10px solid transparent;
}

.ribbon-3 {
  width: 0;
  border-right: 1rem solid #00a651;
  border-left: 1rem solid #00a651;
  border-bottom: 10px solid transparent;
}